  /* --- Notification boxes --- */
.box-note, .box-warning, .box-error, .box-success {
    padding: 15px 15px 15px 10px;
    margin: 20px 20px 20px 5px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px 3px 3px 5px;
  }
  
  .box-note {
    background-color: #eee;
    border-left-color: #2980b9;
  }
  
  .box-warning {
    background-color: #fdf5d4;
    border-left-color: #f1c40f;
  }
  
  .box-error {
    background-color: #f4dddb;
    border-left-color: #c0392b;
  }
  
  .box-success {
    background-color: #98FB98;
    border-left-color: #3CB371;
  }